body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(29,161,242,1.00);
    color: whitesmoke;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
a {
    text-decoration: none;
    color: aquamarine;
}
.container {
    width: 50%;
    margin: auto;
    margin-top: 15%;
    background-color: rgb(21, 32, 43);
    padding:30px;
    border-radius: 20px;
    text-align: center;
}
.twitter {
    width: 100px;
    height: auto;
}