body {
    background-color: #16202c;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    margin: 0px;
    padding: none;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
a :hover {
    color: dodgerblue;
}
.flash {
    color: rgba(29,161,242,0.5);
    border: 1px solid rgba(29,161,242,0.5);
    background-color: rgba(29,161,242,0.1);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: lighter;
    width: fit-content;
}
.error {
    border-radius: 20px;
    border:  1px solid orange;
    background-color: rgba(255,165,0,0.2);
    color:  orange;
    padding: 5px 15px;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}
.container {
    display: flex;
}
.navbar {
    width: 20%;
    padding-top: 100px;
    text-align: right;
    border-right: 1px solid gray;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.navbar ul > li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 70px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.navbar ul > li :hover {
    color: dodgerblue;
    transition: 0.2s;
}
.navbar ul > li > img {
    width: 25px;
    height: auto;
    margin-right: 15px;
}
.deactivate {
    text-align: center;
    color: tomato;
}




.posts {
    border-right: 1px solid grey;
    width: 70%;
}
.greeting {
    border-bottom: 1px solid gray;
    width: 96.8%;
    padding-bottom: 20px;
    padding-left: 30px;
    font-size: 18px;
}
.tweet_pannel {
    padding: 20px 30px;
    background-color:  #16202c;
    border: none;
    color: white;
    font-size: 17px;
    width: 200%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
.submit_tweet {
    border: none;
    background-color: dodgerblue;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    margin: 30px;
}
.submit_tweet:hover {
    background-color: royalblue;
    cursor: pointer;
    transition: 0.2s;
}
.tweet {
    border-bottom: 10px solid  rgba(29,161,242,0.2) ;
    padding: 20px 30px;
    display: flex;
}
.userTweet {
    width: 100%;
}
.meta_tweet {
    display: flex;
}
.info {
    padding: 20px;
    width: 20%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.notice {
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.light {
    font-size: 15px;
    color: gray;
}



.profile {
    padding: 50px;
    position: absolute;
    margin-top: 15%;
    display: flex;
    width: 100%;
}
.profile_info {
    width: 75%;
}
.profile_img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border:  5px solid  rgba(29,161,242,1);
}
.bg_img {
    width: 100%;
    height:300px;
    position: absolute;
}
.edit_profile {
    color: rgba(29,161,242,1);
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid rgba(29,161,242,1);
    margin-top: auto;
    margin-bottom: auto;
}
.edit_profile:hover {
    background-color: rgba(29,161,242,1);
    color: whitesmoke;
    transition: 0.2s;
}
.seperator {
    padding-left: 50px;
    margin-top: 30px;
    border-top: 1px solid gray;
}

.update_info {
    width: 89%;
    margin: 30px;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgba(29,161,242,1);
}
.header {
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
}
.update_field {
    width: 90%;
    padding: 15px 30px;
    background-color: rgba(29,161,242,0.2);
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
    color: whitesmoke;
    font-size: 17px;
}
.update_save {
    background-color: rgba(29,161,242,1);
    color: whitesmoke;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
}
.update_save:hover {
    background-color: rgba(29,161,242,0.2);
    transition: 0.2s;
    cursor: pointer;
}
.profile_section {
    display: flex;
}
.prof_sec {
    width: 80%;
    margin-left: 10px;
    margin-right: 20px;
}


.alert {
    padding: 20px 50px 0px 50px;
}
.alert ul > li {
    margin: 10px;
}
.sample {
    padding: 10px 30px;
    border:  1px solid rgba(29,161,242,1);
    background-color: rgba(29,161,242,0.2);
    border-radius: 20px;
    margin: 30px;
}
.choice {
    display: flex;
}
.danger {
    background-color: tomato;
    padding: 10px 15px;
    border-radius: 10px;
    margin: auto 30px;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
.danger:hover {
    background-color: indianred;
    transition: 0.2s;
}
.neutral {
    background-color: dodgerblue;
    padding: 10px 15px;
    border-radius: 10px;
    margin: auto 30px;
}
.neutral:hover {
    background-color: royalblue;
    transition: 0.2s;
}