{% extends 'mainPage.html' %}

{% block pageContent %}
<div style="position: relative;">
    <img src="{{ background }}" alt="" class="bg_img">
    <div class="profile">
        <div class="profile_info">
            <img src="{{ profile }}" alt="" class="profile_img">
            <h2>@{{ current_user.username }}</h2>
            <p class="light">{{ current_user.email }}</p>
            {% if current_user.bio %}
                <p style="margin-bottom: 2px;">{{ current_user.bio }}</p>
            {% endif %}

            <div style="display: flex; color: gray;">
                <p><img src="https://www.flaticon.com/svg/static/icons/svg/3003/3003280.svg" style="width: 17px; height: auto; margin-right: 10px;" alt="">Joined on {{ current_user.date }}</p>
                {% if current_user.bday %}
                    <p><img src="https://www.flaticon.com/svg/static/icons/svg/3159/3159408.svg" style="width: 17px; height: auto; margin-right: 10px; margin-left: 20px;" alt="">Born {{ current_user.bday }}</p>
                {% endif %}
            </div>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <a href="{{ url_for('updateInfo') }}" class="edit_profile">Edit Profile</a>
    </div>
</div>
{% endblock %}