{% extends 'mainPage.html' %}
{% block pageContent %}
<h1 class="greeting">Bookmarked Posts</h1>

{% if empty %}

<div class="empty">
    <img src="{{ url_for('static', filename='Images/SVG/box.svg') }}" alt="">
    <p>You do not have any saved posts!</p>
</div>

{% else %}

{%  for post in posts %}

    <div class="tweet">
        <div class="userTweet">
            <div class="meta_tweet">
                <img src="{{ url_for('static', filename='Images/Users/profile_pics/' + post.saved_post.author.image_file) }}" style="width:50px; height: 50px; border-radius: 50%; margin-right: 10px; margin-top: 20px;" alt="">
                <div>
                    <h3 style="margin-bottom: 0px;"><a class="username" href="{{ url_for('viewProfile',account_id=post.saved_post.author.id) }}"> @{{ post.saved_post.author.username }}</a></h3>
                    <p style="font-size: 12px;"><span style="font-weight: bold; color: dodgerblue;">Posted on </span>{{ post.saved_post.stamp }}</p>
                </div>
            </div>
            <p style="margin-top: 5px;">{{ post.saved_post.tweet }}</p>
            {% if post.saved_post.post_img %}
                <img onclick="document.getElementById('modal_image_tweet').style.display='block'" src="{{ url_for('static', filename='Images/Tweets/' + post.saved_post.post_img) }}" class="tweet_image" alt="">
                <div id="modal_image_tweet" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom">
                        <img src="{{ url_for('static', filename='Images/Tweets/' + post.saved_post.post_img) }}" style="width:100%">
                    </div>
                </div>
            {% endif %}
        </div>
        <a href="{{ url_for('unsave_post',post_id=post.id) }}">
            <img src="{{ url_for('static', filename='Images/SVG/bookmark_save.svg') }}" id="imgplus" onclick="chngimg()" class="filter_white" alt="">
        </a>
        <a href="{{ url_for('retweet',post_id=post.id) }}">
            <img src="{{ url_for('static', filename='Images/SVG/retweet.svg') }}" class="filter_white" alt="">
        </a>
    </div>

{% endfor %}

{% endif %}

{% endblock %}