{% extends 'mainPage.html' %}

{% block pageContent %}
<h1 class="greeting">Welcome @{{ name }}!</h1>
<div class="tweet">
    <form action="{{ url_for('dashboard') }}" method="post">
        {{tweet.csrf_token}}
        {{tweet.tweet(class='tweet_pannel',placeholder="What's on your mind?")}}
        {{tweet.submit(class='submit_tweet')}}
    </form>
</div>

<div class="timeline">
    {% for post in timeline %}
        <div class="tweet">
            <div class="userTweet">
                <div class="meta_tweet">
                    <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" style="width:50px; height: 50px; border-radius: 50%; margin-right: 10px; margin-top: 20px;" alt="">
                    <div>
                        <h3 style="margin-bottom: 0px;">@{{ post.author.username }}</h3>
                        <p style="font-size: 12px;"><span style="font-weight: bold; color: dodgerblue;">Posted at </span>{{ post.stamp }}</p>
                    </div>
                </div>
                <p style="margin-top: 5px;">{{ post.tweet }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}