{% extends 'mainPage.html' %}

{% block pageContent %}
<div style="position: relative;">
    <img src="{{ background }}" alt="" class="bg_img">
    <div class="profile">
        <div class="profile_info">
            <img src="{{ profile }}" alt="" class="profile_img">
            <h2>@{{ user.username }}</h2>
            <p class="light">{{ user.email }}</p>
            {% if user.bio %}
                <p style="margin-bottom: 2px;">{{ user.bio }}</p>
            {% endif %}

            <div style="display: flex; color: gray;">
                <p><img src="https://www.flaticon.com/svg/static/icons/svg/3003/3003280.svg" style="width: 17px; height: auto; margin-right: 10px;" alt="">Joined on {{ user.date }}</p>
                {% if user.bday %}
                    <p><img src="https://www.flaticon.com/svg/static/icons/svg/3159/3159408.svg" style="width: 17px; height: auto; margin-right: 10px; margin-left: 20px;" alt="">Born {{ user.bday }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="timeline" style="margin-top:550px;">
    <div class="seperator"></div>
    {% for post in timeline.items %}
        {% if post.retweet_tweet != None %}

        <div class="tweet">
            <div class="userTweet">
                <div class="meta_tweet">
                    <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" style="width:50px; height: 50px; border-radius: 50%; margin-right: 10px; margin-top: 20px;" alt="">
                    <div>
                        <h3 style="margin-bottom: 0px;"><a class="username" href="{{ url_for('viewProfile',account_id=post.author.id) }}"> @{{ post.author.username }}</a></h3>
                        <p style="font-size: 12px;"><span style="font-weight: bold; color: dodgerblue;">Posted on </span>{{ post.stamp }}</p>
                    </div>
                </div>
                <p style="margin-top: 5px;">{{ post.tweet }}</p>

                <div class="retweet_post">
                    <div class="userTweet">
                        <div class="meta_tweet">
                            <div>
                                <h3 style="margin-bottom: 0px;"><a class="username" href="{{ url_for('viewProfile',account_id=post.retweet_id) }}"> @{{ post.retweet_author }}</a></h3>
                                <p style="font-size: 12px;"><span style="font-weight: bold; color: dodgerblue;">Posted on </span>{{ post.retweet_stamp }}}</p>
                            </div>
                        </div>
                        <p style="margin-top: 5px;">{{ post.retweet_tweet }}</p>
                    </div>
                </div>

            </div>
            <a href="{{ url_for('retweet',post_id=post.id) }}">
                <img src="{{ url_for('static', filename='Images/retweet.svg') }}" class="filter_white" alt="">
            </a>

            <br>



        </div>

        {% else %}

            <div class="tweet">
                <div class="userTweet">
                    <div class="meta_tweet">
                        <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" style="width:50px; height: 50px; border-radius: 50%; margin-right: 10px; margin-top: 20px;" alt="">
                        <div>
                            <h3 style="margin-bottom: 0px;"><a class="username" href="{{ url_for('viewProfile',account_id=post.author.id) }}"> @{{ post.author.username }}</a></h3>
                            <p style="font-size: 12px;"><span style="font-weight: bold; color: dodgerblue;">Posted on </span>{{ post.stamp }}</p>
                        </div>
                    </div>
                    <p style="margin-top: 5px;">{{ post.tweet }}</p>
                </div>
                <a href="{{ url_for('retweet',post_id=post.id) }}">
                    <img src="{{ url_for('static', filename='Images/retweet.svg') }}" class="filter_white" alt="">
                </a>
            </div>

        {% endif %}
    {% endfor %}

    <div class="pagination">
        {% for page_num in timeline.iter_pages(left_edge=2,right_edge=2,left_current=1,right_current=2) %}
            {% if page_num %}
                {% if timeline.page == page_num %}
                    <a class="active_page" href="{{ url_for('viewProfile', account_id=user.id, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class='pages' href="{{ url_for('viewProfile', account_id=user.id, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>

</div>

{% endblock %}